.background{
  background-image: url('static/stockBackground.jpg');
}

.platformsDescriptionContainer{
  padding-top: 5%;
  display: flex;
  width: 80%;
  margin: auto;
}

.platformDescription{
  flex: 1;
  padding: 0% 1%;
}

.platformIndividualDescription{
  font-family: 'Oswald', sans-serif;
  color: #DCDCDC;
}

.platformDescCompanyHeader{
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
  margin-bottom: 2%;
  font-size: 170%;
}

.platformNameHeader{
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 0%;
  color: #F8F8FF;
  font-size: 140%;
}

.currencyForm{
  height: 3%;
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
}

.treatmentTypeTable{
  margin-left: 75%;
}

.marketingQuote{
  font-family: 'Oswald', sans-serif;
  color: #F8F8FF;
  width: 30%;
  font-size: 250%;
  padding: 2.5% 0% 0% 15%;
}

.signUpLink{
  background-color: #FFBB79;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 120%;
  border-radius: 5%;
  margin-left: 15%;
  padding: 1%;
  width: 10%;
}

.signUpLink:hover{
  background-color: #FFBB79;
}


.conversionToText{
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
}
.currencyHeader{
  flex: 1;
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
  text-align: center;
}

.currencyFormSubmit{
}

.currencyChoice{
  flex: 1;
}

.companyHeaderLink{
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 110%;
  color: #6EB0AD;
  
}

.companyHeader{
  
  float:left;
  margin-top: -5.0%;
  text-align: center;
  padding: .9em 2.0em;
  
}


.covidTableHeader{
  background-color: #E0E0E0;
  font-size: 130%;
}


.treatmentTypeTableHeader{
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
  margin-left: 74%;
  padding-top: 3%;
}
.tableHeaderName{
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
  text-align: center;
  padding-top: 3%;
}


.outerbox{
    background-color: #1A1F24;
    box-shadow: 0 4px -8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);    
    margin: 0% 2% .5% 2%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
}

#navBar{
}

ul {
    list-style-type: none;
    margin: -1% -1% 0% -1%;
    padding: 0;
    overflow: hidden;
    background-color: #1A1F24;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    font-family: 'Oswald', sans-serif;
    font-size: 140%;
    display: block;
    color: #DCE1D7;
    text-align: center;
    padding: .9em 2.0em;
    text-decoration: none;
  }

  
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  table, th, td {
    border: 2px solid #E0E0E0;
    border-collapse: collapse;
  }

  .covidNewsTable{
      width: 80%;
      height: 60%;
      margin: auto;
  } 

.headerColumnTooltip{
  position:absolute;
  font-size: 60%;
}

.headerColumnTooltip .headerColumnTooltipText {
  visibility: hidden;
  width: 2000%;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 120%;
  position: absolute;
  z-index: 1;
}

.headerColumnTooltip:hover .headerColumnTooltipText {
  visibility: visible;
}

.covidTrialsTable{
  width: 90%;
  margin: auto;
}
  .rowData{

      font-size: 130%;
      color: #6EB0AD;
      padding: 1%;
      text-decoration: none;
  }

  .collapsible {
    margin: -10% 0%;
    padding: 0% 0%;
    color: #6EB0AD;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    
    border-collapse: collapse;
    color: #6EB0AD;
    display: none;
  }