{% load static %}

<html>
    
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'covidData/style.css' %}">
    </head>
    <body>
        <div id="navBar">
            <ul>
                <li><a href="{% url 'currencyData' %}">Currencies</a></li>
                <li><a href="{% url 'commodityData' %}">Commodities</a></li>
                <li><a href="{% url 'insiderTradingData' %}">Insider Trading</a></li>
                <li><a href="{% url 'covidResearch' %}">Covid-19 Research</a></li>
            </ul>
            <h1 class="companyHeader"><a href="{% url 'home' %}" style="text-decoration: none;">GP Quantitative</a></li>
        </div>
        {% block content %}
        {% endblock %}
        
    </body>
</html>

<script>
   var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} 
</script>
