html{
    background-color: #32333D;
}

.companyHeader{
  float:left;
  margin-top: -5.5%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 200%;
  color: #DCE1D7;
  text-align: center;
  padding: .9em 2.0em;
  text-decoration: none;
}


.covidTableHeader{
  background-color: #E0E0E0;
  font-size: 130%;
}

.tableHeaderName{
  font-family: 'Noto Sans JP', sans-serif;
  color: #6EB0AD;
  text-align: center;
  padding-top: 3%;
}


.outerbox{
    background-color: #1F252E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);    
    margin: 0% 2% .5% 2%;
    padding-bottom: 10%;
    padding-top: 2%;
}

#navBar{
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #32333D;
    ;
  }
  
  li {
    float: right;
  }
  
  li a {
    font-family: 'Oswald', sans-serif;
    font-size: 140%;
    display: block;
    color: #DCE1D7;
    text-align: center;
    padding: .9em 2.0em;
    text-decoration: none;
  }

  
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  table, th, td {
    border: 2px solid #E0E0E0;
    border-collapse: collapse;
  }

  .covidNewsTable{
      width: 80%;
      height: 60%;
      margin: auto;
  } 

.headerColumnTooltip{
  position:absolute;
  font-size: 60%;
}

.headerColumnTooltip .headerColumnTooltipText {
  visibility: hidden;
  width: 2000%;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 120%;
  position: absolute;
  z-index: 1;
}

.headerColumnTooltip:hover .headerColumnTooltipText {
  visibility: visible;
}

.covidTrialsTable{
  width: 90%;
  margin: auto;
}
  .rowData{

      font-size: 130%;
      color: #6EB0AD;
      padding: 1%;
      text-decoration: none;
  }

  .collapsible {
    margin: -10% 0%;
    padding: 0% 0%;
    color: #6EB0AD;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    
    border-collapse: collapse;
    color: #6EB0AD;
    display: none;
  }