
{% extends 'GPQuants/home.html' %}

{% block content %}
<h2 class="marketingQuote">We help you study relationships across traditional & alternative data in a variety of markets.</h2>
<a><pre class="signUpLink">Sign up Today     →</pre></a>
          
<div class="platformsDescriptionContainer">
    <div class="platformDescription">
        <h3 class="platformDescCompanyHeader">Covid Research</h3>
        <p class="platformIndividualDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat vulputate nibh volutpat laoreet. Maecenas fermentum pellentesque tempor.</p>
    </div>
    <div class="platformDescription">
        <h3 class="platformDescCompanyHeader">Insider Trading</h3>
        <p class="platformIndividualDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat vulputate nibh volutpat laoreet. Maecenas fermentum pellentesque tempor.</p>
    </div>
    <div class="platformDescription">
        <h3 class="platformDescCompanyHeader">Commodities</h3>
        <p class="platformIndividualDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat vulputate nibh volutpat laoreet. Maecenas fermentum pellentesque tempor.</p>
    </div>
    <div class="platformDescription">
        <h3 class="platformDescCompanyHeader">Currencies</h3>
        <p class="platformIndividualDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec erat vulputate nibh volutpat laoreet. Maecenas fermentum pellentesque tempor.</p>
    </div>
</div>
{% endblock %}